# **Python**

**Task 1:**

Read two integers and print two lines. The first line should contain integer division,  // . The second line should contain float division,/.

https://www.hackerrank.com/challenges/python-division/problem

In [0]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a//b)
    print(a/b)

**Task 2:**

Read an integer . For all non-negative integers , print i^2 . See the sample for details.

https://www.hackerrank.com/challenges/python-loops/problem

In [0]:
if __name__ == '__main__':
    n = int(raw_input())
    for i in range(n):
        print(i*i)

**Task 3:**

Read an integer .

Without using any string methods, try to print the following:
"1234...N"

https://www.hackerrank.com/challenges/python-print/problem

In [0]:
if __name__ == '__main__':
    n = int(input())
    for i in range(1,n+1):
        print(i, end = '')

**Task 4:**
https://www.hackerrank.com/challenges/list-comprehensions/problem

In [0]:
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
    print([[i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1) if (i+j+k!=n)])

**Task 5:**

https://www.hackerrank.com/challenges/nested-list/problem

In [0]:
if __name__ == '__main__':
    a = []
    for _ in range(int(input())):
        name = input()
        score = float(input())
        a.append([score,name])
    a.sort(key = lambda x:x[0])
    Second = 0
    for i in range(1,len(a)):
        if (a[i][0]!=a[i-1][0]):
            Second = a[i][0]
            break
    b=[]
    for x in a:
        if (x[0]==Second):
            b.append(x[1])
    b.sort()
    for x in b:
        print(x)

# **SQL**

TASK 1:

https://www.hackerrank.com/challenges/revising-the-select-query/problem

In [0]:
SELECT *
FROM CITY
WHERE POPULATION>100000 AND COUNTRYCODE = 'USA'

TASK 2:

https://www.hackerrank.com/challenges/revising-the-select-query-2/problem

In [0]:
SELECT NAME
FROM CITY
WHERE POPULATION>120000 AND COUNTRYCODE = 'USA'

TASK 3:

https://www.hackerrank.com/challenges/select-all-sql/problem

In [0]:
SELECT*
FROM CITY

TASK 4:

https://www.hackerrank.com/challenges/select-by-id/problem

In [0]:
SELECT *
FROM CITY
WHERE ID = 1661

TASK 5:

https://www.hackerrank.com/challenges/japanese-cities-attributes/problem

In [0]:
SELECT *
FROM CITY
WHERE COUNTRYCODE = "JPN"

TASK 6:

https://www.hackerrank.com/challenges/japanese-cities-name/problem

In [0]:
SELECT NAME
FROM CITY
WHERE COUNTRYCODE='JPN'

TASK 7:

https://www.hackerrank.com/challenges/weather-observation-station-1/problem

In [0]:
SELECT CITY, STATE
FROM STATION

TASK 8:

https://www.hackerrank.com/challenges/weather-observation-station-3/problem

In [0]:
SELECT DISTINCT CITY
FROM STATION
WHERE ID%2=0

TASK 9:

https://www.hackerrank.com/challenges/weather-observation-station-4/problem

In [0]:
SELECT COUNT(CITY) - COUNT(DISTINCT CITY)
FROM STATION

TASK 10:

https://www.hackerrank.com/challenges/salary-of-employees/problem

In [0]:
SELECT name 
FROM Employee
WHERE salary>2000 AND months<10
ORDER BY employee_id ASC